<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/card.css">
</head>

<body>

    <div class="wrapper">
        <div class="logo">
            <!-- <div class="item">
              <i class="flaticon-test-tube"></i>
            </div> -->
      <div class="title">
        Blood Doc
      </div>  

      <form action="/login" method="POST">      
        <div class="form">
          <div class="input_field">
            <input class="<%= validationErrors.find(e => e.param === 'email')  ? 'invalid' : 'input' %>" type="text" placeholder="Email" name="email" id="email" value="<%= oldInput.email %>">
            <i class="fas fa-user"></i>
          </div>
          <div class="input_field">
            <input class="<%= validationErrors.find(e => e.param === 'password')  ? 'invalid' : 'input' %>" type="password" placeholder="Password" name="password" id="password" value="<%= oldInput.password %>">
            <i class="fas fa-lock"></i>
          </div>
          <% if (errorMessage) { %>
            <div class="user-message user-message--error"><p><%= errorMessage %></p></div>
        <% } %>

          
              <button class="btn-reg" type="submit">Login</button>
              <input type="hidden" name="" value="">
          </form>
        <a href="register">Create Account</a>
      </div>
    </div>



  
<%- include('../includes/end.ejs') %>