<div class="sub-header__nav">

    <header>
        <nav class="sub_nav">
            <ul class="nav__links">
                

                <li><a class="<%= path === '/my-account' ? 'activeSub' : '' %>" href="/my-account">My Account</a></li>
                <li><a class="<%= path === '/orders' ? 'activeSub' : '' %>" href="/orders">Orders</a></li>
                <li><a class="<%= path === '/patients' ? 'activeSub' : '' %>" href="/patients">Patients</a></li>
                <li><a class="<%= path === '/sample-quality' ? 'activeSub' : '' %>" href="/sample-quality">Sample Quality</a></li>
                <li><a class="<%= path === '/tests' ? 'activeSub' : '' %>" href="/tests">Lab Test Information</a></li>
            </ul>

            
        </nav>
        <div class="user"><a class="user_link" href="/"><i class="fas fa-home"></i>Hello Dr <%= name %></a></div>
             
    </header>

    </div>









    <!-- <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Hello Dr <%= name %></a>
        </li>

    </ul>
    <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">My Account</a>
        </li>
    </ul>
    <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Order Entry</a>
        </li>
    </ul>
    <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Patients</a>
        </li>
    </ul>
    <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">New Patient</a>
        </li>
    </ul>
    <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Sample Quality</a>
        </li>
    </ul>
    <ul class="sub-header__item-list">
        <li class="sub-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Lab Test Info</a>
        </li>
    </ul> -->
</div>