<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/my-account.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (doctor.length > 0) { %>
                    <div class="wrapper">
                        <% for (let product of doctor) { %>
                            <div class="left">
                                <div class="userIcon"><i class="flaticon-user-3"></i></div>
                                <h4><%= product.name %></h4>
                                <p>General Practitioner</p>
                              </div>
                              <div class="right">
                                <div class="info">
                                  <h3>User Information</h3>
                                  <div class="user_info">
                                    <div class="data">
                                      <h4>Name</h4>
                                      <p><%= product.name %></p>
                                      <h4>Mobile</h4>
                                      <p><%= product.phone %></p>
                                    
                                    </div>
                                    <div class="data">
                                      <h4>Email</h4>
                                      <p><%= product.email %></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="practice">
                                  <h3>Practice Information</h3>
                                  <div class="practice_info">
                                    <div class="data">
                                      <h4>Address</h4>
                                      <p><%= product.address %></p>
                                      <h4>Telephone</h4>
                                      <p><%= product.tel %></p>
                                    </div>
                                    <div class="data">
                                      <h4>GP Code</h4>
                                      <p><%= product.code %></p>              
                                    </div>
                                    
                                  </div>
                                </div>
                                <div class="update">
                                  <form action="/my-account-edit">
                                    <button class="updateBtn" type="submit">Update</button>
                                  </form>
                                </div>
                              </div>
                                    <!-- <h1 class="product__title">
                                        <%= product.name %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.name %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.name %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.name %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product._id %>" class="btn">Details</a>

                                </div>
                            </article> -->
                             <% } %>
                    </div>
                    <!-- <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %> --> -->
            </main>
            <%- include('../includes/end.ejs') %>