<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/patient-details.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/sub-nav.ejs') %>


        <div class="container">
          <div class="leftbox"> 
            <nav>
              <a onclick="tabs(0) "class="tab active">
                <i class="fas fa-user-md"></i>
              </a>
              <a onclick="tabs(1) "class="tab">
                <i class="fas fa-clinic-medical"></i>
              </a>

            </nav>
  
          </div><!--Left Obx End-->
  
          <div class="rightbox">
             <% if (doctor.length > 0) { %>
              <% for (let dr of doctor) { %>
              <div class="profile tabShow">
                <h1>User Information </h1>
                <h2>Name</h2>
                <input type="text" class="input" value="<%= dr.firstName %> <%= dr.lastName %>">
                <h2>Role</h2>
                <input type="text" class="input" value="GP">
                <h2>Mobile</h2>           
                <input type="text" class="input" value="<%= dr.mobile %>">
                <h2>Email</h2>
                <input type="text" class="input" value="<%= dr.email %>">
                
             
                    <div class="button">
                      <a class="modify_patient" href="/edit-patient/?edit=true">
                        <button class="btn">Update</button> 
                  </a>   
                  </div>
      
                      
              </div><!--profile tab end-->
  
              <div class="practiceDetails tabShow">
                <h1>Practice Details</h1>
                <h2>Practice</h2>
                <input type="text" class="input" value="<%= dr.practice %>">
                <h2>Phone</h2>
                <input type="text" class="input" value="<%= dr.code %>">
                <h2>GP Code</h2>
                <input type="text" class="input" value="<%= dr.tel %>">
                <h2>Hospital</h2>
                <input type="text" class="input" value="St James Hospital">
  
                <div class="button">
                  <a class="modify_patient" href="/edit-patient/?edit=true">
                    <button class="btn">Update</button> 
               </a>   
                </div>
  
              </div><!-- Practice details end-->
              <% } %> 
              <% } %> 
            
  
          </div>
        </div>
  
  


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/js/details.js"></script>
        
        
            <%- include('../includes/end.ejs') %>











            <!-- <% if (doctor.length > 0) { %>
              <div class="wrapper">
                  <% for (let dr of doctor) { %>
                      <div class="left">
                          <div class="userIcon"><i class="flaticon-user-3"></i></div>
                          <h4><%= dr.firstName %></h4>
                          <p>General Practitioner</p>
                        </div>
                        <div class="right">
                          <div class="info">
                            <h3>User Information</h3>
                            <div class="user_info">
                              <div class="data">
                                <h4>Name</h4>
                                <p><%= dr.firstName %></p>
                                <h4>Mobile</h4>
                                <p><%= dr.mobile %></p>
                              
                              </div>
                              <div class="data">
                                <h4>Email</h4>
                                <p><%= dr.email %></p>
                              </div>
                            </div>
                          </div>
                          <div class="practice">
                            <h3>Practice Information</h3>
                            <div class="practice_info">
                              <div class="data">
                                <h4>Address</h4>
                                <p><%= dr.practice %></p>
                                <h4>Telephone</h4>
                                <p><%= dr.tel %></p>
                              </div>
                              <div class="data">
                                <h4>GP Code</h4>
                                <p><%= dr.code %></p>              
                              </div>
                              
                            </div>
                          </div>
                          <div class="update">
                            <form action="/my-account-edit">
                              <button class="updateBtn" type="submit">Update</button>
                            </form>
                          </div>
                        </div> -->
                              
                       <% } %> <!-- Close loop -->
              <!-- </div> -->
              
                  
                  <% } %> <!-- Close if-->