<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/my-account.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/sub-nav.ejs') %>

            <main>
                <% if (doctor.length > 0) { %>
                    <div class="wrapper">
                        <% for (let dr of doctor) { %>
                            <div class="left">
                                <div class="userIcon"><i class="flaticon-user-3"></i></div>
                                <h4><%= dr.firstName %></h4>
                                <p>General Practitioner</p>
                              </div>
                              <div class="right">
                                <div class="info">
                                  <h3>User Information</h3>
                                  <div class="user_info">
                                    <div class="data">
                                      <h4>Name</h4>
                                      <p><%= dr.firstName %></p>
                                      <h4>Mobile</h4>
                                      <p><%= dr.mobile %></p>
                                    
                                    </div>
                                    <div class="data">
                                      <h4>Email</h4>
                                      <p><%= dr.email %></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="practice">
                                  <h3>Practice Information</h3>
                                  <div class="practice_info">
                                    <div class="data">
                                      <h4>Address</h4>
                                      <p><%= dr.practice %></p>
                                      <h4>Telephone</h4>
                                      <p><%= dr.tel %></p>
                                    </div>
                                    <div class="data">
                                      <h4>GP Code</h4>
                                      <p><%= dr.code %></p>              
                                    </div>
                                    
                                  </div>
                                </div>
                                <div class="update">
                                  <form action="/my-account-edit">
                                    <button class="updateBtn" type="submit">Update</button>
                                  </form>
                                </div>
                              </div>
                                    
                             <% } %> <!-- Close loop -->
                    </div>
                    
                        
                        <% } %> <!-- Close if-->
            </main>
            <%- include('../includes/end.ejs') %>