<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/cart.css">
    </head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <article class="card-test-item">
        <p><%= patient.firstName %></p>
        <p><%= patient.lastName %></p>
        <p><%= patient.gender %></p>
    </article>

        <div class="tubes">
            <img src="/img/serum2.png" alt="" id="group1"><div id="total1"></div>

            <!-- <img draggable="true" ondragstart="drag(event)" src="/img/serum2.png" alt="" id="group2"><div id="totalSerum"></div>
            <img draggable="true" ondragstart="drag(event)" src="/img/serum2.png" alt="" id="group3">
            <img draggable="true" ondragstart="drag(event)" src="/img/serum2.png" alt="" id="group6">
            <img draggable="true" ondragstart="drag(event)" src="/img/edta.png" alt="" id="group4">
            <img draggable="true" ondragstart="drag(event)" src="/img/edta.png" alt="" id="group5">                            
            <img draggable="true" ondragstart="drag(event)" src="/img/glucose.png" alt="" id="group7">
            <img draggable="true" ondragstart="drag(event)" src="/img/coag.png" alt="" id="group8"> -->

     <img src="/img/serum2.png" alt="" id="group2"><div id="totalSerum"></div>

            
            
        </div>
        <% if (tests.length > 0) { %>
            
                <ul class="cart__item-list">
                    <% tests.forEach(t => { %>
                        <article class="card-test-item">
                        <li class="cart__item">
                            <h1><%= t.testId.name %></h1>
                            <p class="<%= t.testId.group %>" id="group"><%= t.testId.group %></p>

                            
                                <input type="hidden" value="<%= t.testId._id %>" name="testId">                          
                                <button class="deleteBtn" type="button" onclick="deleteTest(this)">Delete</button>
                            
                        </li>
                    </article>
                    <% }) %>
                </ul>
            

            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <input type="hidden" value="<%= patient._id %>" name="patientId"> 
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
            
        <% } else { %>
            <h1>No Tests Selected</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>


<script>
    
    const deleteTest = (deleteBtn) => {
       const testId = deleteBtn.parentNode.querySelector('[name=testId]').value;
       const testElement = deleteBtn.closest('article');

       fetch('/cart-delete-item/' + testId, {
           method: 'DELETE'
       })
       .then(result => {
           return result.json();
       })
       .then(data => {
           console.log(data);
           testElement.parentNode.removeChild(testElement);
           
       })
       .catch(err => {
           console.log(err);
       })
    };


    function fadeIn(el) {
    el.style.opacity = 0;
    var tick = function () {
        el.style.opacity = +el.style.opacity + 0.01;
        if (+el.style.opacity < 1) {
            (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
        }
    };
    tick();
}



   var testGroup1 = document.getElementsByClassName("1");
   var testGroup2 = document.getElementsByClassName("2"); 
   var testGroup2 = document.getElementsByClassName("2");  
        var total1 = 0; 
    if (!(testGroup1 === undefined || testGroup1.length == 0)) {
        var total1 = 1;  
    }
    if (!(testGroup2 === undefined || testGroup2.length == 0)) {
        var total2 = 1;  
    }
    var allSerums = total1 + total2;

    document.getElementById('totalSerum').innerHTML = allSerums;



    // CHECK FOR WHICH TESTS ARE SELECTED  Check for Groups and Display Correct Sample Type
    // var testGroup = document.getElementsByClassName("1");       
    // if (!(testGroup === undefined || testGroup.length == 0)) {        
    //     var group1 = document.getElementById("group1");
    //     fadeIn(group1);
    // }
    // var testGroup = document.getElementsByClassName("2");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group2 = document.getElementById("group2");
    //     fadeIn(group2);
    //    }

    // var testGroup = document.getElementsByClassName("3");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group3 = document.getElementById("group3");
    //     fadeIn(group3);
    //    } 

    // var testGroup = document.getElementsByClassName("4");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group4 = document.getElementById("group4");
    //     fadeIn(group4);
    //    }
           
    // var testGroup = document.getElementsByClassName("5");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group5 = document.getElementById("group5");
    //     fadeIn(group5);
    //    } 

    // var testGroup = document.getElementsByClassName("6");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group6 = document.getElementById("group6");
    //     fadeIn(group6);
    //    } 

    // var testGroup = document.getElementsByClassName("7");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group7 = document.getElementById("group7");
    //     fadeIn(group7);
    //    }

    // var testGroup = document.getElementsByClassName("8");       
    //    if (!(testGroup === undefined || testGroup.length == 0)) {
    //     var group8 = document.getElementById("group8");
    //     fadeIn(group8);
    //    }
       
       

</script>
