<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/order-entry.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
      

        <div class="wrapper">
            <div class="grid-container">
                <div class="box1">
                    <div class="header">
                        <h3><%= patient.lastName %>, <%= patient.firstName %></h3> 
                         
                    </div>
                    <div class="inner">
                        <div class="info">
                            <h2 class="title">First Name : </h2>
                            <p><%= patient.firstName %></p>
                        </div>
                        <div class="info">
                            <h2 class="title">Last Name: </h2>
                            <p><%= patient.lastName %></p>
                        </div>
                        <div class="info">
                            <h2 class="title">Address: </h2>
                            <p><%= patient.address %></p>
                        </div>
                        <div class="info">
                            <h2 class="title">D. O. B     : </h2>
                            <p><%= patient.dateOfBirth %></p>
                        </div>
                        <div class="info">
                            <h2 class="title">Email    : </h2>
                            <p><%= patient.email %></p>
                        </div>
                        <div class="info">
                            <h2 class="title">Gender  : </h2>
                            <p><%= patient.gender %></p>
                        </div>
                        <div class="btnBox">
                            <button class="editBtn"> 
                                <a href="/edit-patient/<%= patient._id %>?edit=true">Update Details</a>
                            </button>
                            
                        </div>

                    </div>
        
                </div>
                
                <div class="box2">
                    <div class="tab">
                        <button class="tablinks" onclick="openTests(event, 'Bio1')">Biochemistry</button>
                        <button class="tablinks" onclick="openTests(event, 'Drugs')">Drugs/Steroids</button>
                        <button class="tablinks" onclick="openTests(event, 'Haem')">Haematology</button>
                        <button class="tablinks" onclick="openTests(event, 'Immunology')">Immunology</button>
                    </div>
                    <!-- Tab Content-->
                    <div class="tabcontent" id="Bio1" >
                        <div class="radio-toolbar">
                        <% if (bioTests.length > 0) { %>
                            <% for (let t of bioTests) { %>
                                <input type="hidden" value="<%= t._id %>" name="testName" id="<%= t.group %>">
                                <button class="testBtn" type="button" onclick="addTest(this)"><%= t.name %></button>
                        <% } %>
                        <% } %>   
                    </div>


                        <!-- <form action="/cart" method="post">
                            <% if (bioTests.length > 0) { %>
                                <% for (let t of bioTests) { %>
                            <button class= "test" type="submit"><%= t.name %></button>
                            <input type="hidden" name="testId" value="<%= t._id %>">
                            <% } %>
                            <% } %>      
                        </form>                     -->

                    </div>
                    <div class="tabcontent" id="Drugs" style="display: none;">
                        <% if (drugsTests.length > 0) { %>
                            <% for (let t of drugsTests) { %>
                                <input type="hidden" value="<%= t._id %>" name="testName" id="<%= t.group %>" class="drugs">
                                <button class="testBtn" type="button" onclick="addTest(this)"><%= t.name %></button>
                        <% } %>
                        <% } %>                        

                       
                    </div>
                    <div class="tabcontent" id="Haem" style="display: none;">
                        <% if (haemTests.length > 0) { %>
                            <% for (let t of haemTests) { %>
                                <input type="hidden" value="<%= t._id %>" name="testName" id="<%= t.group %>">
                                <button class="testBtn" type="button" onclick="addTest(this)"><%= t.name %></button>
                        <% } %>
                        <% } %>                        

                       
                    </div>

                    <div class="tabcontent" id="Immunology" style="display: none;">
                        <% if (immTests.length > 0) { %>
                            <% for (let t of immTests) { %>
                                <input type="hidden" value="<%= t._id %>" name="testName" id="<%= t.group %>">
                                <button class="testBtn" type="button" onclick="addTest(this)"><%= t.name %></button>
                        <% } %>
                        <% } %>                        
  
                    </div>
                </div>
                <div class="box3">
                    <h2 class="samples-header">Samples Required</h2>
                    <div class="samples">
                        
                        <div class="tubes">
                            <img class="tube" src="/img/serum2.png" alt="">
                            <img class="tube" src="/img/serum2.png" alt="">
                            <img class="tube" src="/img/serum2.png" alt="">
                            <img class="tube" src="/img/edta.png" alt="">
                            <img class="tube" src="/img/edta.png" alt="">
                            <img class="tube" src="/img/glucose.png" alt="">
                        </div>

                    </div>
                    <div class="cartBtn">
                        <a href="/cart/<%= patient._id %>" class="toCart">Order</a>
                    </div>
                </div>
                <!-- <div class="box4">
                    <h2>Box4</h2>
                </div> -->
            </div>

        </div>

    </main>
    
</body>
</html>

<script>


    </script>


        <!-- <div class="wrapper"> -->
                    <!-- <div class="patient_details"> -->
                            <!-- <div class="header">
                                <h4><%= patient.lastName %>, <%= patient.firstName %></h4> 
                            </div>
                            
                                <div class="info_item">
                                    <h3>Gender</h3>
                                    <p><%= patient.gender%></p>
                                    
                                </div>
                                <div class="info_item">
                                    <h3>D.O.B</h3>
                                    <p><%= patient.dateOfBirth%></p>
                                </div>
                                <div class="info_item">
                                    <h3>Email</h3>
                                    <p><%= patient.email%></p>
                                </div>
                                <div class="info_item">
                                    <h3>Weight</h3>
                                    <p><%= patient.dateOfBirth%></p>
                                </div>
                                <div class="info_item">
                                    <h3>Address</h3>
                                    <p><%= patient.address%></p>
                                </div>                         
                                              
                        </div>

                    <div class="tests">
                            <li data-li="biochemistry">
                                <p>Biochemistry</p>
                            </li>
                            <li data-li="haematology">
                                <p>Haematology</p>
                            </li>
                            <li data-li="immunology">
                                <p>Immunology</p>
                            </li>

                    </div>
                    
        </div> -->

        <%- include('../includes/end.ejs') %>
        <script src="/js/add-test.js"></script>
