<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/order-entry.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <div class="wrapper">
                <div class="patient_details">
                        <div class="header">
                            <h4><%= patient.lastName %>, <%= patient.firstName %></h4> 
                        </div>

                        <!-- <div class="patient_info"> -->
                            <div class="info_item">
                                <h3>Gender</h3>
                                <p><%= patient.gender%></p>
                                
                            </div>
                            <div class="info_item">
                                <h3>D.O.B</h3>
                                <p><%= patient.dateOfBirth%></p>
                            </div>
                            <div class="info_item">
                                <h3>Email</h3>
                                <p><%= patient.email%></p>
                            </div>
                            <div class="info_item">
                                <h3>Weight</h3>
                                <p><%= patient.dateOfBirth%></p>
                            </div>
                            <div class="info_item">
                                <h3>Address</h3>
                                <p><%= patient.address%></p>
                            </div>
                            
                        <!-- </div> -->
                        

                    </div>

        </div>

        <%- include('../includes/end.ejs') %>
