<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="wrapper">
        <div class="header">
          <div class="title">
            Patients
          </div>
      
          <div class="search_box">
            <input type="text" id="search_input" placeholder="Fliter Table Using Names">
          </div>
        </div>
      
        <div class="table_wrap">
          <div class="table_header">
            <ul>
              <li>
                <div class="item">
                  <div class="name">
                    <span>NAME</span>
                  </div>
                  <div class="phone">
                    <span>D.O.B</span>
                  </div>
                  <div class="phone">
                    <span>GENDER</span>
                  </div>
                  <div class="issue">
                    <span>EIRCODE</span>
                  </div>
                  <div class="status">
                    <span></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="table_body">
            <% if (patient.length > 0) { %>
              <% for (let pat of patient) { %>
            <ul>
              
              <li>
                <div class="item">
                  <div class="name">
                    <span><%= pat.firstName %> <%= pat.lastName %></span>
                  </div>
                  <div class="phone">
                    <span><%= pat.dateOfBirth %></span>
                  </div>
                  <div class="phone">
                    <span><%= pat.gender%></span>
                  </div>
                  <div class="issue">
                    <span><%= pat.address %></span>
                  </div>
                  <div class="status">
                    <a href="/edit-patient/<%= pat._id %>?edit=true"><i class="fas fa-pencil-alt"></i></a>
                    <a href="/edit-patient"><i class="fas fa-plus"></i></a>
                    <a href="/patient/<%= pat._id %>"><i class="fas fa-user"></i></a>
                    
                    <form action="/delete-patient" method="POST">
                      <input type="hidden" value="<%= pat._id %>" name="patientId"  id="patientId">
                      <button class="delete_btn" type="submit"><i class="far fa-trash-alt"></i></button>
                  </form>

                    <!-- <i class="fas fa-pencil-alt"></i>                    
                    <i class="fas fa-times"></i>
                    <i class="fas fa-user"></i>
                  <i class="far fa-trash-alt"></i> -->
                  </div>
                </div>
              </li>
             
              
            </ul>
            <% } %>
            <% } %>
          </div>
          <div class="table_footer"></div>
        </div>
      
      </div>

      <script>
        var search_input = document.querySelector("#search_input");

search_input.addEventListener("keyup", function(e){
  var span_items = document.querySelectorAll(".table_body ul li .item .name span");
  var search_item = e.target.value.toLowerCase();
 
 span_items.forEach(function(item){
   if(item.textContent.toLowerCase().indexOf(search_item) != -1){
      item.closest("li").style.display = "block"
   }
   else{
     item.closest("li").style.display = "none";
   }
 })
  
});

      </script>

<%- include('../includes/end.ejs') %>