<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/patient-details.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/sub-nav.ejs') %>






      <div class="container">
        <div class="leftbox"> 
          <nav>
            <a onclick="tabs(0) "class="tab active">
              <i class="fa fa-user"></i>
            </a>
            <a onclick="tabs(1) "class="tab">
              <i class="fas fa-home"></i></i>
            </a>
            <a onclick="tabs(2) "class="tab">
              <i class="fas fa-stethoscope"></i></i>
            </a>
            <a onclick="tabs(3) "class="tab">
              <i class="fas fa-notes-medical"></i>
            </a>
          </nav>

        </div>

        <div class="rightbox">

          <form action="/edit-patient-details" method="POST">
            <div class="profile tabShow">
              <h1>Patient Info</h1>

              <h2>First Name</h2>
              <input type="text" class="input" name="firstName" value="<%= patient.firstName %>">
              <h2>Last Name</h2>
              <input type="text" class="input" name="lastName" value="<%=patient.lastName %>" >
              <h2>Birthday</h2>
              <input type="text" class="input" name="dateOfBirth" value="<%= patient.dateOfBirth.toDateString() %>">
              <h2>Age</h2>           
              <input type="text" class="input" name="age" value="<%= patient.age %>">
              <h2>Gender</h2>
              <input type="text" class="input" name="gender" value="<%= patient.gender %>">
              <h2>Phone</h2>
              <input type="text" class="input" name="phone" value="<%= patient.phone %>">
              <% if (successMessage) { %>
                <div class="patient-success"><i class="fas fa-check"></i> <%= successMessage %></div>
              <% } %>


              <div class="button">
                <input type="hidden" value="<%=patient._id %>" name="patientId" >                      
                  <button class="btn" type="submit">Update</button>                     
            </div>

              
                    
            </div>

            <div class="clinicalDetails tabShow">
              <h1>Patient Address Details</h1>

              <h2>Address</h2>
              <input type="text" class="input" name="address" value="<%= patient.address %> ">
              <h2>County</h2>
              <input type="text" class="input" name="county" value="<%= patient.county %>">
              <h2>Eircode</h2>           
              <input type="text" class="input" name="eircode" value="<%= patient.eircode %>">
              <h2>Email</h2>
              <input type="text" class="input" name="email" value="<%= patient.email %>">
              <% if (successMessage) { %>
                <div class="patient-success"><i class="fas fa-check"></i> <%= successMessage %></div>
              <% } %>

              <div class="button">
                <input type="hidden" value="<%=patient._id %>" name="patientId" >                      
                  <button class="btn" type="submit">Update</button>                     
            </div>

            </div>

            <div class="clinicalDetails tabShow">
              <h1>Patient Clinical Details</h1>
              <h2>Weight (kg)</h2>
              <input type="text" class="input" name="weight" value="<%= patient.weight %>">
              <h2>Height (inches)</h2>           
              <input type="text" class="input" name="height" value="<%= patient.height %>">
              <h2>Clinical Details</h2>
              <input type="text" class="input" name="clinicalDetails" value="<%= patient.clinicalDetails %>">
              <% if (successMessage) { %>
                <div class="patient-success"><i class="fas fa-check"></i> <%= successMessage %></div>
              <% } %>

              <div class="button">
                <input type="hidden" value="<%=patient._id %>" name="patientId" >                      
                  <button class="btn" type="submit">Update</button>                     
            </div>

            </div>
          </form>
          
            <div class="orders tabShow">
              
              <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
              <% } else { %>
                <ul class="orders">
                  <h1>Last Blood Orders</h1>
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                          <h3>Date: <%= order.time.toDateString() %></h3>
                            <ul class="orders__tests">
                                <% order.tests.forEach(p => { %>
                                    <li class="orders__tests-item"><%= p.test.name %></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
              <% } %>


              <div class="button">
                <a href="/orders/<%= patient._id %>"><button class="btn">View All Orders</button> </a>                  
                
                <a href="/order-entry/<%= patient._id %>"><button class="btn">Create Order</button>  </a>   
              </div>

            </div>

        </div>
      </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/details.js"></script>




        
         <%- include('../includes/end.ejs') %>